doctype html
html
	head
		title "Карти"
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/public/css/bootstrap.min.css')
		script(src='/socket.io/socket.io.js')
		style.
			* {padding: 0; margin: 0}
			body {background-image: url("/public/img/green_cup.png")}
	body
		script(src='/public/js/pixi.min.js')
		script(src='/public/js/scaleToWindow.js')
		script(src='/public/js/game.js')
